@model Llibreria.Models.Client

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cognom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cognom)
        </dd>

        

        <dt>
            @Html.DisplayNameFor(model => model.Carrer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Carrer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Poblacio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Poblacio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Provincia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Provincia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tlf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tlf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Correu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Correu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aut)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NIF }) |
    @Html.ActionLink("Back to List", "Index")
</p>
